body{
	background-image: url("https://scontent.fbwa3-1.fna.fbcdn.net/v/t1.0-9/67959592_923476218030788_6718629147997896704_n.jpg?_nc_cat=110&_nc_sid=e3f864&_nc_ohc=MvolBPv5ZpAAX-sfAk_&_nc_ht=scontent.fbwa3-1.fna&oh=de4f4906a6338c560a5bdf98b553e4f7&oe=5ECEEDEF");
	background-repeat: no-repeat;
	background-position: relative;
	background-attachment: fixed;
	background-size: cover;
}
main{
	display: grid;
	grid-gap: 20px;
}
img{
	width: 100%;
	height: auto;
	position: relative;
}
h2{
	background-color: lightgreen;
	font-weight: bold;
	font-family: "Lucida Calligraphy";
	font-color:lightblue;
	text-align: center;
	font-size: 30px;
}